html, body {
    margin: 0;
    font-family: 'Arial';
}

.app {
    background-color: #20b2aa;
    padding: 20px;
    border-radius: 50px;
    flex-direction: row;
    margin: 20px;
    text-align: center;
}

.title {
    font-family: 'Arial';
    text-decoration: underline;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

.inputs {
    display: flex;
    justify-content: center;
}

input, select, button {
    border: 2px solid #000000;
    border-radius: 50px;
    background-color: transparent;
    width: 200px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.tableau {
    margin: 20px;
    padding: 4px;
    width: 100% - 40px;
    overflow: auto;
    white-space: nowrap;
    border: #000000 solid 2px;
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #0e4b48; 
    border-radius: 10px;
  }